# Exercise

**Exercise 1**

In [1]:
print('Displaying a right triangle pattern of numbers: ')
z = 1
for x in range(1, 10):
    for y in range(1, x + 1):
        print(z,end='')
    z += 1
    print()
print(' ')

Displaying a right triangle pattern of numbers:
1
22
333
4444
55555
666666
7777777
88888888
999999999

**Exercise 2**

In [3]:
valid = False

while not valid:
    password = input("Enter a password: ")

    if len(password) < 6 or len(password) > 16:
        print("Password must be between 6 and 16 characters.")
    elif not any(c.islower() for c in password):
        print("Password must contain at least one lowercase letter.")
    else:
        valid = True
        print("Password is valid.")

Enter a password: restoranarabicasenayan
Password must be between 6 and 16 characters.
Enter a password: harley
Password is valid.

# TASK

**TASK 1**

In [4]:
a_string = "Hello World!"
word_list = a_string. split()

number_of_words = len(word_list)
print(number_of_words)

2

In [5]:
a_string = "Once upon a Time in a faraway land"
word_list = a_string. split()

number_of_words = len(word_list)
print(number_of_words)

8

**TASK 2**

In [6]:
multiples_5 = [5*n for n in range(1,4+1)]
multiples_5

[5, 10, 15, 20]

In [7]:
multiples_10 = [10*n for n in range(1,5+1)]
multiples_10

[10, 20, 30, 40, 50]

**TASK 4**

In [9]:
n = int(input())
a = 0
b = 1
sum = a + b
count = 1
print("Output: ", end=" ")
while (count <= n):
	count += 1
	print(a, end=" ")
	a = b
	b = sum
	sum = a + b

0
Output:

In [10]:
n = int(input())
a = 0
b = 1
sum = a + b
count = 1
print("Output: ", end=" ")
while (count <= n):
	count += 1
	print(a, end=" ")
	a = b
	b = sum
	sum = a + b

4
Output:  0 1 1 2

In [11]:
n = int(input())
a = 0
b = 1
sum = a + b
count = 1
print("Output: ", end=" ")
while (count <= n):
	count += 1
	print(a, end=" ")
	a = b
	b = sum
	sum = a + b

10
Output:  0 1 1 2 3 5 8 13 21 34